@import url('./assets/Fonts/fonts.css');


body{
  background-color: #23252C;
}

.card-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1A1B21;
  border-radius: 10px;
  
  width: 400px;
  margin: 0px auto; /* vertically centers with some top spacing */
  font-family: 'CabinetGrotesk', sans-serif;
}

.profile-img{
  width: 400px;
  height: 350px;
  object-fit: cover;
  border-radius: 10px 10px 0px 0px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main > h1, /* Removes all default spacing */
main > h2,
main > h3 {
  margin: 0;
  padding: 0;
}

main > h1{
  font-family: "Inter", sans-serif;
  font-size: 30px;
  font-weight: 600;
  color: #FFFFFF;

  margin-top: 20px;
}

main > h2{
  font-family: 'CabinetGrotesk', sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: rgb(183, 153, 46);

  margin-top: 10px;
}

main > h3{
  margin-top: 10px;
}

main > h3 > a{
  font-family: 'CabinetGrotesk', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #FFFFFF;
  text-decoration: none;

  &:hover {
    color: rgb(161, 161, 161);
  } 

}



.email-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0px;
  height: 34px;
  width: 300px;
  margin-top: 20px;

  font-family: "Inter", sans-serif;
  font-size: 14px;
  text-decoration: none;
  color: black;
  border-radius: 10px;
  border: none;
  background-color: #FFFFFF;
}


.email-btn > img{
  width: 20px;
  margin-right: 10px;
}

/* About - */

.about-h2{
  margin: 0;
}

.about{
  width: 300px;
}

.about-h2{
  text-align: left;
  font-family: 'CabinetGrotesk', sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: #FFFFFF;
  margin-top: 30px;
}

.about-des{
  font-family: 'Satoshi', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #adadad;
  text-align: justify;
  margin-top: 4px;
}

/* Interests - */

.interests-h2 {
  margin: 0;
}

.interests{
  width: 300px;
  margin-top: 0px;

}

.interests-h2{
  text-align: left;
  font-family: 'CabinetGrotesk', sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: #FFFFFF;
  margin-top: 10px;
}

.interests-des{
  font-family: 'Satoshi', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #adadad;
  text-align: justify;
  margin-top: 4px;
}

/* Footer - */

.footer{
  margin-top: 20px;
  width: 400px;
  display: flex;
  padding: 10px 0px 10px 0px;
  justify-content: center;
  gap: 20px;
  background-color: #161619;
  border-radius: 0px 0px 10px 10px;
}

.xf,
.mailf,
.gitf{
  width: 20px;
  height: 20px;
}