body{
    margin: 0;
    padding: 0;
    min-height: 100vh;              /* make body fill the viewport height */
    display: flex;                  /* enable flexbox */
    justify-content: center;        /* horizontal center */
    align-items: center;  
    background-color: rgb(235, 235, 235);  
}

.travel-card{

    background-color: white;
    height:704px;
    width: 550px;

}

.header{
    height: 55px;
    width: 550px;
    background-color: #F55A5A;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.globe{
  height: 18px;
  width: 18px;

}

h3{
  color: white;
  font-family: 'Inter', sans-serif;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
}




.col-1{
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 470px;
    height: 168px;
    margin-top: 24px;
    margin-left: 40px;
}

.line-1{
  display: flex;
  flex-direction: row;
  align-items: center;


}

.fuji{
    height: 168px;
    width: 125px;
    border-radius: 8px;
}

.loc{
    width: 9px;
    height: 9px;
}


.line-1 h2{
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-weight: 500;
    margin-left: 4px;
    margin-right: 14px;
    letter-spacing: 1px;
}

.line-1 a{
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-weight: 400;
    text-decoration: underline;
    color: #918E9B;
}

.details h1{
    font-family: inter, sans-serif;
    font-size: 30px;
    font-weight: 500;
    margin-top: 0px;
    margin-bottom: 8px;
}

.details h4{
    font-family: inter, sans-serif;
    font-size: 12px;
    font-weight: 700;
    color: #000000;
    margin-top: 0px;
    margin-bottom: 16px;
}

.col-1 p{
    font-family: inter, sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #4A4A4A;
    line-height: 16px;
}