body{
  background-color: rgb(15, 15, 15);
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1{
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #d2b639;
}

form{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 300px;
  margin: auto;
  margin-top: 50px;
}

input, select {
  padding: 8px;
  border: none;
  border-radius: 4px;
} 

button {
  padding: 10px;
  background-color: #d2b639;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.employ{
  margin-bottom: 0px;
}

.diet{
  margin-bottom: 0px;
}
.diet-final{
  margin-bottom: 30px;
} 

