/* Cabinet Grotesk Regular */
@font-face {
  font-family: 'CabinetGrotesk';
  src: url('./Cabinet-Grotesk/CabinetGrotesk-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

/* Satoshi Regular */
@font-face {
  font-family: 'Satoshi';
  src: url('./Satoshi_Complete/Satoshi-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

/* Add other weights (like Bold, Light, etc.) similarly if needed */
