body{
  background-color: rgb(15, 15, 15);
  margin: 0px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;  
  perspective: 1000px;
}

.box-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 180px;
  padding: 20px;
}

.box-1{
  background-color: rgb(255, 232, 22);
  width: 60px;
  height: 60px;     
  border-radius: 10px;
  grid-column: 1;
  grid-row: 1;


  transition: transform 150ms ease;
}

.box-1:active{
  transform: scale(0.97);
}



.box-2{
  background-color: rgb(255, 232, 22);
  width: 60px;
  height: 60px;     
  border-radius: 10px;
  grid-column: 3;
  grid-row: 1;

  transition: transform 200ms ease;

}

.box-2:hover{
  transform: scale(4);
}

.box-3{
  background-color: rgb(255, 232, 22);
  width: 60px;
  height: 60px;     
  border-radius: 10px;
  grid-column: 1;
  grid-row: 3;


  transition: transform 900ms ease-in-out;
}

.box-3:active{
  transform: rotate(360deg);
}




.box-4{
  background-color: rgb(255, 232, 22);
  width: 60px;
  height: 60px;     
  border-radius: 10px;
  grid-column: 3;
  grid-row: 3;

  transition: transform 300ms ease-out;
}

.box-4:active{
  transform: rotateX(60deg) rotateY(30deg) translateZ(80px);
}

.box-5{
  background-color: rgb(255, 232, 22);
  width: 60px;
  height: 60px;     
  border-radius: 10px;
  grid-column: 2;
  grid-row: 2;

  transition: transform 500ms ease-out;

}

.box-5:active{
  transform: translate(30px, -30px);
}




