html, body {
    height: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #27292c;
    color: white;
    margin: 0px;
    display: flex;
    flex-direction: column;
}

.img {
    width: 50px;
    height: 50px; 
}

.header{
    display:flex;
    gap: 20px;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    background-color: #1b1c1d;
    

}

.img{
    padding-top: 15px;
}

.nav-h1{
    font-family: "Inter";
    color: #61dafb;
}

.content{
  display: flex;
  align-items: end;
}

.content-h1{
    font-family: "Inter";
    padding-left:40px;
    padding-top: 40px;
    font-weight: 600px;
}

.ul{
    padding-left: 80px;
    line-height: 24px;
}

.li{
    font-family: "Inter";
    padding-block: 5px;

}

.li::marker{
    color: #61dafb;
    font-size: 20px;
}