
 /* --------------------- comment - State1 CSS
 
 .state1{
  border-radius: 12px;
  box-shadow: 5px 5px 15px rgba(0,0,0,0.3);
}

button{
  text-align: center;
  border-radius: 12px;
  border: none;
  margin: 0;
  background-color: black;
  padding: 20px;
  color: antiquewhite;
  font-family: Inter, sans-serif;
  font-size: 20px;
  font-weight: 500;

  transition: transform 150s ease-out;
}

button:active{
  transform: scale(0.97);
}

*/




.counter {
  position: relative;         
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}


.count {
  background-color: rgb(188, 154, 106);
  height: 100px;
  width: 100px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
  color: #000;
  position: relative;
  z-index: 1;                 
  box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
}


.counter button {
  position: absolute;          
  top: 50%;
  transform: translateY(-50%);
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  background-color: #000;
  color: #fff;
  font-size: 1.5rem;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
  transition: transform 150ms ease-out;
}


.counter button:active {
  transform: translateY(-50%) scale(0.95);
}


.minus {
  margin-top: 40px;
  left: -25px;
  z-index: 2;
}


.plus {
  margin-top: 40px;
  right: -25px;
  z-index: 2;
}

* {
    box-sizing: border-box;
}

body {
    background-color: #4a4a4a;
    margin: 0;
    font-family: "Inter", sans-serif;
}

main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: white;
    width: 200px;
    border: 1px solid lightgray;
    border-radius: 10px;
    height: 350px;
}

.card .avatar {
    width: 100%;
    padding: 10%;
    padding-bottom: 0;
}

.card .name {
    margin-block: 13px;
    color: #333333;
}

.card .info {
    padding: 10px;
}

.card .favorite {
    width: 25px;
    cursor: pointer;
}

.card .contact {
    font-size: 0.75rem;
    color: gray;
    margin-block: 7px;
}

.card .favorite-button {
    border: none;
    background: transparent;
}

.card .favorite-button:active {
    transform: none;
    box-shadow: none;
}


/* --------------------- comment - State3 CSS 

.state3{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.value{
  background-color: black;
  color: antiquewhite;
  border: none;
  border-radius: 12px;
  padding: 20px 30px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  transition: transform 150ms ease-out;
}

.value:active{
  transform: scale(0.97);
}


*/





